body {
    justify-items: center;
    align-content: center;
    Font-family: 'Poppins', sans-serif;
    color: white;
    background: black;
}
body, html {
    width: 100%;
    padding: 0;
    margin: 0;
}
html { scroll-behavior: smooth; }
.sections {
    float: right;
    width: 80%;
}
section {
    justify-items: center;
    justify-content: center;
    margin: 0;
    display: grid;
    padding: 50px;
}
.fond {
    background: #005d87;
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    margin: 0;
    display: block;
    position: relative;   /* <--- AJOUT */
    z-index: 0;           /* au lieu de -1 */
}
.corner {
    background: white;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100px 0 0 0;
    color: black;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}
.corner p { font-size: 13px; }
.barre {
    background: #004B6D;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
}
.logoCP {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
.cadre {
    border-radius: 40px;
    max-width: 800px;
    background: white;
    border-right: 15px solid black;
    border-bottom: 15px solid black;
    color: black;
    justify-items: center;
    margin: auto;
    padding: 10px;
    width: calc(100% - 30px);
    position: relative;   /* <--- AJOUT */
    z-index: 2;
}
h1 {
    font-size: 40px;
    margin: 10px;
}

h3 {
    font-size: 40px;
    max-width: 800px;
    width: 80%;
    border-radius: 100px;
    border-bottom: solid white 8px;
    border-top: solid white 8px;
    text-align: center;
    margin: 0 10px;
}

a {
    justify-self: center;
    text-decoration: none;
    transition: all 0.3s ease;
    background: transparent;
    color: white;
    border: solid white 3px;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
}

a:hover { background: #005d87; }

.fleche {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-135deg);  /* flèche vers le haut */
    -webkit-transform: rotate(-135deg);
}

nav {
    position: absolute;
    display: inline-grid;
    width: 20%;
    justify-content: center;
}
.nav2 {
    position: fixed;
    top: 0;
    left: 0;
}
.navs {
    float: left;
    width: 20%
}

#link-s0:hover, #link-s0.active, .cp { background: #005d87; }
#link-s1:hover, #link-s1.active, .armlien { background: #961D12; }
#link-s2:hover, #link-s2.active, .haullien { background: #7100A1; }
#link-s3:hover, #link-s3.active, .asshvlien { background: #CE8B0D; }
#link-s4:hover, #link-s4.active { background: #129617; }
#link-s5:hover, #link-s5.active { background: #015CC4; }
#link-s6:hover, #link-s6.active { background: #977C68; }
.osteolien { background: #C4A38A }

.armlien:hover { background: #720B02; }
.haullien:hover { background: #57007D; }
.asshvlien:hover { background: #A76D00; }
.osteolien:hover { background: #866248; }



.red { background: #5E0A03 }
.violet { background: #3E0059 }
.orange { background: #BD7707 }
.blue { background: #004799 }
.green { background: #006E04; }
.beige { background: #977C68; }

p {
    font-size: 20px;
    margin: 5px;
}
.logo { width: 300px; }
.items { width: 100%; }

.item {
    height: 165px;
    margin: 10px;
    border: solid black 5px;
    background: black;
}
.items2 { display: grid; }
.ordi { height: 300px; }
.demi {
    height: 150px;
    vertical-align: top;
}

/*footer {*/
/*    background: white;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    padding: 5px 30px 5px 30px;*/
/*    color: black;*/
/*}*/

@media (max-width: 850px) {
    .item {
        height: 100px;
        margin: 4px;
        border: solid black 3px;
    }
    a { font-size: 14px; }
    h1, h2, h3 { font-size: 20px; }
    p { font-size: 12px; }
    .logo { width: 150px; }
    .ordi { height: 150px; }
    h3 {
        border-top: solid white 4px;
        border-bottom: solid white 4px;
    }
    .demi { height: 75px; }
}
@media (max-width: 600px) {
    a {
        font-size: 10px;
        padding: 5px;
        border: white solid 2px;
    }
}
@media (max-width: 500px) {
    section { padding: 20px; }
    .fond {
        width: calc(100% - 40px);
        height: calc(100vh - 40px);
    }
    a { font-size: 8px; }
    p { font-size: 10px; }
    .item {
        height: 70px;
        /*margin: 4px;*/
        /*border: solid black 3px;*/
    }
}
