html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin: 0;
    background-color: black;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: white;
    display: flex;
}

nav {
    position: fixed;
    display: inline-grid;
    float: left;
}
.navs {
    float: left;
    width: 20%
}
.sections {
    float: right;
    width: 80%
}

#link-s0:hover, #link-s0.active, .cp { background: #005d87; }
#link-s1:hover, #link-s1.active, .red { background: #961D12; }
#link-s2:hover, #link-s2.active, .violet { background: #7100A1; }
#link-s3:hover, #link-s3.active, .orange { background: #CE8B0D; }
#link-s4:hover, #link-s4.active, .green { background: #129617; }
#link-s5:hover, #link-s5.active, .blue { background: #015CC4; }

.lien:hover {background: black;}

a {
    background: transparent;
    color: white;
    border: solid white 3px;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
}

.fleche {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

h1, h2 {
    font-size: 40px;
    max-width: 800px;
    width: 80%;
    border-radius: 100px;
    border-bottom: solid white 8px;
    border-top: solid white 8px;
    text-align: center;
    margin: 0;
}
p {
    font-size: 20px;
}

.cadre {
    justify-items: center;
    justify-content: center;
    margin: 0;
    display: grid;
    padding: 50px;
}

.logo {
    width: 300px;
}

.items {
    width: 100%;
}

.item {
    height: 230px;
    margin: 10px;
    border: solid black 5px;
    background: black;
}

@media (max-width: 768px) {
    .item {
        height: 150px;
        margin: 5px;
        border: solid black 3px;
    }
    a {
        font-size: 14px;
    }
    h1, h2 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .item {
        height: 70px;
        margin: 2px;
        border: solid black 2px;
    }
}
