body {
    text-align: center;
    margin: 0;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
.icon {
    width: 40px;
    height: 40px;
}
.icon:hover {
    opacity: 0.6;
}
/*.F:hover {*/
/*    animation-timing-function: ease;*/
/*    animation: mymove 1s;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*@keyframes mymove {*/
/*    from {background: #640065}*/
/*    to {background: linear-gradient(to right,#000030, #640065)}*/
/*}*/

/*Animation haut*/
.f {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -331px;
}
.logo {
    z-index: 2;
    position: absolute;
    width: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40px;
}
.degrade {
    z-index: 1;
    position: relative;
    margin-top: 180px;
    padding-bottom: 10px;
    width: 100%;
    background: linear-gradient(#000030, #640065);
}

.bleu {
    background: #000030;
}
.bleu2 {
    background: #320047;
}
.violet {
    background: #640065;
}

/*Gros titre*/
h1 {
    padding-top: 120px;
    font-size: 70px;
    margin-bottom: 0;
    margin-left: 10%;
    text-align: left;
}
.description {
    font-size: 30px;
    margin-left: 10%;
    text-align: left;
    margin-right: 10%;
}

/*Titres moyens*/
h2 {
    font-size: 45px;
    padding: 10px;
}
h3 {
    font-size: 35px;
}

/*Au programme*/
.groupes {
    display: flex;
    justify-content: center;
}
.groupe {
    width: 20%;
    text-align: center;
}
.nom {
    font-size: 28px;
    margin-bottom: 0;
}
.style {
    margin-top: 0;
    font-size: 20px;
}

/*Tête d'affiche*/
.nomD {
    margin-top: 10px;
    font-size: 34px;
    margin-bottom: 0;
}
.styleD {
    margin-top: 0;
    font-size: 26px;
}

/*Quelques mots*/
.benevoles {
    width: 40%;
}

/*2ème édition*/
.blocks {
    margin-left: 15%;
    margin-right: 15%;
}
.block {
    display: flex;
}
.photo {
    width: 38%;
}
.texte {
    width: 62%;
    margin-top: auto;
    margin-bottom: auto;
}
.ti {
    width: 250px;
    margin: 50px auto;
}
.d {
    margin-right: 20%;
}
.g {
    margin-left: 20%;
}
.t {
    margin-top: -50px;
}

/*1ère édition*/
.fest1 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.g1 {
    width: 250px;
}
.G {
    margin-bottom: 0;
}
.F {
    width: 80px;
    font-size: 12px;
}

/*Bas de page*/
.contact {
    background: #000033;
    margin-right: 5%;
    margin-left: 5%;
}
.logoF {
    width: 15%;
}
.e {
    display: flex;
    float: left;
}
.s {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.fa {
    display: inline-block;
    float: right;
}
.unabled:hover {
    opacity: 1;
}

@media only screen and (max-width: 700px) {
    .f {
        width: 500px;
        margin-bottom: -265px;
    }
    .logo {
        width: 400px;
        top: 50px;
    }
    h1 {
        font-size:40px;
    }
    .description {
        font-size: 25px;
    }
    h2 {
        font-size: 30px;
        /*background: powderblue;*/
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    .nom {
        font-size: 20px;
    }
    .style {
        font-size: 17px;
    }
}

@media only screen and (max-width: 500px) {
    .f {
        width: 350px;
        margin-bottom: -21px;
    }
    .logo {
        /*width: 300px;*/
        /*top: 50px;*/
    }
    h1 {
        font-size: 35px;
        /*background: orange;*/
    }

    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 17px;
    }
    p {
        font-size: 10px;
    }
    .s {
        font-size: 5px;
    }
}


.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
