<footer class="footer">
    <div class="footer-col">
        <p>Navigation</p>
        <a class="footer-link" href="index.php">Accueil</a>
        <a class="footer-link" href="events.php">Nos Événements</a>
        <a class="footer-link" href="beer.php">Notre Bière</a>
        <a class="footer-link" href="groups.php">Nos Groupes</a>
    </div>
    <div class="footer-col">
        <p>Réseaux</p>
        <a class="footer-link" href="https://www.facebook.com/arm.haulchin.5">Facebook</a>
    </div>
    <div class="footer-col">
        <p>Contact</p>
        <a class="footer-link" href="mailto:parsycharlestom@gmail.com" data-icon="5">Email</a>
    </div>
</footer>