body {
    margin: 0;
    justify-items: center;
}
header {
    width: 100%;
    position: fixed;
    display: flex;
    background: white;
    border-bottom: solid black 10px;
}

.item, .footer-link, p, h1, h2, a { font-family: Bradley Hand, cursive; }

h2 { font-size: 24px }

.piece {
    width: 100%;
    border-bottom: solid black 10px;
}

.txt { font-size: 18px; }

nav {
    display: flex;
    justify-content: space-around;
}

.white {
    background: white;
    color: black;
    width: 100%;
    justify-items: center;
}

.item:hover { color: #bf2a20; }
.item {
    font-size: 22px;
    text-decoration: none;
    align-content: center;
    color: black;
    font-weight: 800;
    transition: color 0.3s;
    text-wrap: nowrap;
    margin: 0 10px;
}

.bouton {
    background: transparent;
    color: white;
    border: solid white 3px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    padding: 10px;
}

.item2 {
    font-size: 22px;
    text-decoration: none;
    align-content: center;
    color: white;
    font-weight: 800;
}

#events {
    position: absolute;
    left: 10%;
    top: 10%
}

.black {
    background: black;
    color: white;
    width: 100%;
    justify-items: center;
    text-align: center;
    margin: 50px 0;
    padding: 20px 0;
    display: grid;
}

.bulle {
    background: #bf2a20;
    color: white;
    width: 80%;
    justify-items: center;
    border-radius: 50px;
    padding: 1px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.col {
    display: inline;

}

.red {
    background: #bf2a20;
    color: white;
    width: 100%;
    justify-items: center;
    display: flex;
    margin: 50px 0;
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}

#map {
    margin: 20px;
    float: right;
}

h1 {
    margin: 0;
    visibility: hidden;
}

p {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
}

#logo1 {
    width: 25%;
    background: white;
    border: solid white 10px;
}

.photo {
    height: 150px;
}

.group {
    background: black;
    color: white;
    width: 500px;
    display: flex;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.img-grp {
    object-fit: contain;
}

.footer {
    background: black;
    color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.footer-link {
    font-size: 15px;
    color: white;
}

@media only screen and (max-width: 800px) {
    .item, h2 {
        font-size: 18px;
    }
    #logo1 {
        width: 40%;
        border: solid white 5px;
    }
    p, a, .txt {
        font-size: 15px;
    }
    .footer-link { font-size: 12px; }
}

@media only screen and (max-width: 600px) {
    .item {
        font-size: 16px;
    }
    #logo1 {
        width: 60%;
        border: solid white 3px;
    }
    h2 {
        font-size: 15px;
    }
    p, a, .txt {
        font-size: 10px;
    }
    .footer-link { font-size: 8px; }
}

@media only screen and (max-width: 460px) {
    .item {
        font-size: 13px;
    }
}
