<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
</head>
<body>

<footer class="bleu">
    <br><br><br>
    <div class="contact">
        <div class="e">
            <img class="icon unabled" src="images/Mail.png" alt="">
            <p class="s">Haullfest@gmail.com</p>
        </div>
        <br><br><br>
        <div class="e">
            <img class="icon unabled" src="images/Localisation.png" alt="">
            <p class="s">44 rue Paul Vaillant Couturier, 59121 Haulchin</p>
        </div>
        <div class="fa">
            <!--            <a href="https://www.youtube.com/@vincentcharlet5135">-->
            <!--                <img class="icon" src="Facebook.png" alt="">-->
            <!--            </a>-->
            <a href="https://www.facebook.com/profile.php?id=100083071914159">
                <img class="icon" src="images/Facebook.png" alt="">
            </a>
        </div>
    </div>
    <br><br><br>
    <a href="PrecedentesEditions.php">Précédentes éditions</a>
    <br><br><br>
    <br><br><br>
</footer>

</body>
</html>