<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header>
    <img class="logo" src="images/Logo.png" alt="">
    <img class="f" src="images/foudre.gif" alt="">
    <a class="button" href="https://www.helloasso.com/associations/appetite-guns-n-roses-tribute/evenements/billet-haullfest-edition-3?fbclid=IwAR0gh0fOg5SC6-20R3_3lkLc9RqDQe_L9LerHZXCdsPBd-hBpiR0xIhCJ_Y">BILLETERIE</a>

    <div class="degrade">
        <h1 hidden>HAULLFEST</h1>
        <h1>Festival Rock/Métal</h1>
        <p class="description">Le HAULLFEST aura lieu le <b>8 mai 2024</b> à la salle Pablo Neruda à <b>Haulchin</b>.</p>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </div>
</header>



</body>
</html>