<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<footer>
    <br><br>
    <div class="contact">
        <div class="e">
            <img class="icon unabled" src="../images/Mail.png" alt="">
            <p class="s">cedrickparsy@gmail.com</p>
        </div>
        <!--        <div class="e">-->
        <!--            <img class="icon unabled" src="Localisation.png" alt="">-->
        <!--            <p class="s">Valenciennes</p>-->
        <!--        </div>-->
        <div class="fa">
           <a href="https://www.facebook.com/ashhv.basket">
               <img class="icon" src="../images/Facebook.png" alt="">
           </a>
        </div>
    </div>
    <div class="menuF">
        <a id="ASHHV" href="index.php">ASHHV</a>
        <a id="Tournoi" href="Tournoi.php">Tournoi</a>
        <a id="Sponsors" href="Sponsors.php">Sponsors</a>
        <a id="Tombola" href="Tombola.php">Tombola</a>
    </div>
    <br>
    <img class="logoF" src="../images/logo.jfif" alt="logo ashhv">
</footer>

</body>
</html>