<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<header>
    <button id="buttonMenu" class="hamburger-lines">
        <div id="line1" class="line"></div>
        <div id="line2" class="line"></div>
        <div id="line3" class="line"></div>
    </button>
    <div id="menu" class="menu">
        <a class="menuE" id="ASHHV" href="index.php">ASHHV</a>
        <a class="menuE" id="Tournoi" href="Tournoi.php">Tournoi International Handibasket René Pruvot</a>
        <a class="menuE" id="Sponsors" href="Sponsors.php">Nos Sponsors</a>
        <a class="menuE" id="Tombola" href="Tombola.php">Tombola</a>
    </div>
    <h1 hidden>ASHHV</h1>
</header>

</body>
</html>